@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Inter:wght@100;500&family=Poppins:wght@400;500&display=swap");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, rgb(66, 58, 209) 0%, rgb(63, 108, 167) 0%, rgb(89, 191, 211) 65%);
}

.container
{
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 100px!important;
    margin-bottom: auto;
    padding: 10px 50px!important;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgb(0, 2, 3);
}

.form-heading
{
    color: rgb(255, 255, 255);
}

.form-label
{
    color: white;
}

.add
{
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color: rgb(0, 95, 21);
    color: white;
    font-size: 2rem;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
}

.add:hover
{
    background-color: rgb(5, 83, 5);
}

.delete
{
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 2rem;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
}

.delete:hover
{
    background-color: rgb(255, 44, 44);
    box-shadow: 1px 1px 4px rgb(175, 175, 175);
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border: 0;
}

table, td, tr, thead, th
{
    background-color: transparent!important;
}